@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif; 
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 22px;
}
.header {
    margin-bottom: 90px;
}
.center-text {
    width: 50%;
}
.tiny-pics {
    width: 60%;
    display: flex;
    margin: 0;
}
.tiny-pics-items p {
    margin: 0px 10px;
}
.tiny-pics :last-child {
    margin-left: 11px;
}
.center-content, .tiny-pics-items {
    display: flex;
    margin: 0;
    justify-content: space-between;
}
.tiny-pics-items {
    align-items: baseline;
    margin-right: 25px;
}
.watch-movie p {
    font-size: 20px;
    line-height: 145%;
}
.c-text p {
    font-size: 24px;
    line-height: 150%;
    padding: 10px 0px;
}
.c-text {
    width: 52%;
}
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 81px;
    margin-bottom: 0px;
    margin-top: 35px;
}
h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 56px;
}
h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    margin: 0px;
}
.center-pic {
    position: relative;
    padding: 11px 210px 0px 0px;
}
.ellipse1 {
    position: absolute;
    right: 204px;
    bottom: -17px;
    z-index: -1;
}
.quote {
    max-width: 484px;
    min-width: 225px;
    max-height: 200px;
    background-color: #1E4681;
    border-radius: 5px;
    margin: auto;
    margin-top: 84px;
    margin-left: 285px;
}
.quote p:first-child {
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 123%;
    padding: 27px;
    padding-bottom: 0px;
    margin: 0px;
}
.author {
    font-family: 'Roboto', sans-serif; 
    color: #FFFFFF;
    text-align: right;
    padding: 22px;
    padding-top: 0px;
    margin: 0px;
}
.top {
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom {
    padding: 30px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.offer {
    width: 50%;
    display: flex;
    padding: 22px 0px 0px 120px;
}
.tesis {
    margin: 10px;
}
.tesis p {
    margin: 0px;
}
.offer p {
    font-size: 18px;
    line-height: 130%;
}
.about-course-pic {
    position: relative;
    padding: 85px 115px 0px 0px;
}
.ellipse2 {
    width: 366px;
    height: 59px;
    background-color: #EFEFEF;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    bottom: -29px;
    z-index: -1;
}
.ellipse3 {
    width: 189px;
    height: 32px;
    background-color: #EFEFEF;
    border-radius: 50%;
    position: absolute;
    left: 33px;
    bottom: -16px;
    z-index: -1;
}
.about-course-side-pic {
    width: 232px;
    height: 203px;
    position: relative;
    box-sizing: border-box; 
}