@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.section {
    width: 100%;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 22px;
    padding: 0px 40px;
    box-sizing: border-box;
}
.programm .container {
    padding: 0px 5px;
}
.header {
    margin-bottom: 90px;
}
.center-text {
    width: 50%;
}
.tiny-pics {
    width: 60%;
    display: flex;
    margin: 0;
}
.tiny-pics-items p {
    margin: 0px 10px;
}
.tiny-pics :last-child {
    margin-left: 11px;
}
.center-content, .tiny-pics-items, .card {
    display: flex;
    margin: 0;
    justify-content: space-between;
}
.tiny-pics-items {
    align-items: baseline;
    margin-right: 25px;
}
.watch-movie p {
    font-size: 20px;
    line-height: 145%;
}
.c-text p {
    font-size: 24px;
    line-height: 150%;
    padding: 10px 0px;
}
.c-text {
    width: 53%;
}
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 81px;
    margin-bottom: 0px;
    margin-top: 35px;
}
h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 56px;
}
h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    margin: 0px;
}
h4 {
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    margin: 0px;
}
.center-pic {
    position: relative;
    padding: 10px 125px 0px 0px;
}
.quote {
    max-width: 484px;
    min-width: 225px;
    max-height: 200px;
    background-color: #1E4681;
    border-radius: 5px;
    margin: auto;
    margin-top: 66px;
    margin-left: 288px;
}
.quote p:first-child {
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 123%;
    padding: 27px;
    padding-bottom: 0px;
    margin: 0px;
}
.author {
    font-family: 'Roboto', sans-serif; 
    color: #FFFFFF;
    text-align: right;
    padding: 15px;
    padding-top: 0px;
    margin: 0px;
}
.top {
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.bottom {
    padding: 30px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.offer {
    width: 50%;
    display: flex;
    padding: 22px 0px 0px 120px;
}
.tesis {
    margin: 10px;
}
.tesis p {
    margin: 0px;
}
.offer p {
    font-size: 18px;
    line-height: 130%;
}
.about-course-pic {
    position: relative;
    padding: 89px 100px 0px 0px;
}
.about-course-side-pic {
    width: 232px;
    height: 203px;
    position: relative;
    box-sizing: border-box; 
}
.programm h2 {
    padding-left: 37px;
}
.card {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 132px;
    margin-bottom: 80px;
}
.card-item {
    max-width: 399px;
    box-shadow: 1px 1px 15px #00000040;
    border-radius: 30px;
    box-sizing: border-box;
}
.card-item img {
    width: 100%;
}
.card-item:not(:nth-child(3n)) {
    margin-right: 36px;
    margin-bottom: 41px;
}
.card-item:nth-child(3n) {
    margin-bottom: 41px;
}
.card-item:hover {
    cursor: pointer;
    background-color: #f5d64d40;
    transition: 1s;
}
.card-text {
    padding-left: 20px;
    margin-top: 8px;
    font-size: 25px;
    line-height: 130%;
}
.card-text p {
    margin-bottom: 20px;
    margin-top: 32px;
}
.card-item:last-child p {
    margin-top: 0px;
    margin-bottom: 14px;
}
.students {
    background-color: #EFEFEF;
}
.students .container {
    padding-bottom: 112px;
}
.students h2 {
    padding-top: 91px;
    margin-bottom: 70px;
}
.review {
    max-width: 66%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 20px #00000040;
    border-radius: 30px;
    margin-left: 5px;
    box-sizing: border-box;
}
.review p {
    max-width: 700px;
    padding: 40px 46px 0px 45px;
    margin: 0px;
    font-size: 20px;
    line-height: 150%;
}
.review img {
    margin: 34px 26px 23px 26px;
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
    .header {
        margin-bottom: 52px;
        padding-left: 62px;
    }
    .container {
        padding: 0px 62px;
    }
    .tiny-pics :last-child {
        margin-left: 9px;
    }
    .tiny-pics-items {
        margin-right: 3px;
    }
    .top {
        margin-top: 63px;
    }
    .bottom {
        padding: 18px 0px;
    }
    .offer {
        padding: 0px 278px 71px 0px;
    }
    .logo {
        width: 65px;
   }
   .tiny-pics-items img {
        max-width: 13px;
   }
   .center-text {
       max-width: 455px;
   }
   .c-text {
        min-width: 383px;
        width: 45%;
   }
   .c-text p {
    padding: 0px;
    margin: 21px 0px;
}
   .center-pic img {
        max-width: 177px;
   }
   .about-course-pic img {
        max-width: 212px;
   }
   .about-course-side-pic img {
        max-width: 134px;
   }
    .watch-movie p {
        font-size: 12px;
        line-height: 18px;
    }
    .programm .container {
        padding: 0px 41px;
    }
    .programm h2 {
        padding-left: 21px;
    }
    .students h2 {
        padding-top: 34px;
        margin-bottom: 30px;
    }
    .review {
        max-width: 50%;
    }
    .review p {
        max-width: 406px;
        padding: 23px 27px 0px 26px;
        font-size: 12px;
    }
    .review img {
        margin: 23px 13px 23px 26px;
        max-width: 331px;
    }
    .c-text p, .card-text p  {
        font-size: 14px;
        line-height: 21px;
    }
    .quote {
        max-width: 280px;
        max-height: 116px;
        margin-top: 28px;
        margin-left: 167px;
    }
    .quote p:first-child {
        font-size: 14px;
        line-height: 18px;
        padding: 11px 20px 0px 16px;
    }
    .author {
        font-size: 12px;
        line-height: 16px;
        padding: 1px 10px 13px 0px;
    }
    .offer p {
        font-size: 11px;
    }
    .card {
        max-width: 800px;
        margin-top: 65px;
        margin-bottom: 20px;
    }
    .card-item {
        max-width: 231px;
    }
    .card-text {
        padding-left: 11px;
        margin-top: 3px;
    }
    .card-text p {
        margin-bottom: 10px;
        margin-top: 18px;
    }
    .card-item:not(:nth-child(3n)) {
        margin-right: 21px;
        margin-bottom: 23px;
    }
    .card-item:nth-child(3n) {
        margin-bottom: 23px;
    }
    h1 {
        font-size: 46px;
        line-height: 47px;
        margin-top: 10px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 15px;
    }
    h4 {
        font-size: 17px;
    }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .header {
        margin-bottom: 45px;
        padding-left: 35px;
    }
    .logo {
        width: 52px;
   }
   .tiny-pics-items img {
        max-width: 10px;
   }
   .center-pic img {
        max-width: 142px;
   }
   .about-course-pic img {
        max-width: 171px;
   }
   .about-course-side-pic img {
        display: none;
   }
    .watch-movie p {
        font-size: 10px;
        line-height: 150%;
    }
    .students h2 {
        padding-top: 42px;
    }
    .review {
        max-width: 95%;
    }
    .review p {
        font-size: 10px;
        line-height: 150%;
    }
    .review img {
        max-width: 258px;
        min-width: 84%;
    }
    .c-text p, .card-text p  {
        font-size: 12px;
    }
    .quote {
        min-width: 225px;
        min-height: 93px;
    }
    .quote p:first-child {
        font-size: 11px;
    }
    .author, .offer p {
        font-size: 10px;
    }
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card-item {
        max-width: 186px;
        margin-bottom: 23px;
    }
    h1 {
        font-size: 37px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 12px;
    }
    h4 {
        font-size: 14px;
    }
    
}
.lessons-title {
    padding-bottom: 79px;
}
.lessons-info {
    display: flex;
    width: 100%;
    padding-left: 2px;
    margin-bottom: 216px;
}
.format-one {
    padding-right: 122px;
    padding-top: 1px;
    width: 223px;
    height: 109px;
    line-height: 130%;
}
.format-two {
    padding-right: 113px;
    width: 271px;
    height: 109px;
    line-height: 130%;
    padding-top: 1px;
}
.format-three {
    width: 245px;
    height: 109px;
    line-height: 130%;
    padding-top: 1px;
}
.format-title {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    line-height: 130%;
    color: #1E4681;
}
.format-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}
.whats-new-title {
    font-family: Roboto Slab;
    font-size: 55px;
    font-style: normal;
    font-weight: bold;
    line-height: 101%;
    margin-top: 179px;
    margin-bottom: 60px;
}
.whats-new-info {
    width: 664px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}

li {
    padding-left: 0px;
}
.list {
    padding-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}
.start-course {
    background: #9DC9C8;
    height: 780px;
    margin: 0 auto;
}
.announcement {
    width: 908px;
    height: 66px;
    padding-top: 179px;
    font-weight: bold;
    font-size: 55px;
    line-height: 101%;
}
.price-text {
    width: 170px;
    font-weight: normal;
    font-size: 25px;
    line-height: 101%;
    margin-bottom: 0px;
    margin-top: 59px;
}
.price-fact {
    width: 481px;
    font-weight: normal;
    font-size: 80px;
    line-height: 101%;
    margin-top: 0px;
}
.course-description { 
    width: 658px;
    display: flex;
    justify-content: flex-start;
}                     
.heading {
    width: 324px;
    height: 32px;
    font-size: 25px;
    line-height: 101%;
    margin-right: 42px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.about {
    width: 294px;
    height: 70px;
    font-weight: normal;
    font-size: 18px;
    line-height: 101%;
    margin-top: 5px;
}
